<div class="section1">
	<mat-toolbar id="header">
		<a href="/" target="_blank">
			<img id="header_img" alt="Rooms" src="assets/images/favicon.svg" /> 
			<span id="brand-text">ROOMS</span>
		</a>
		<!--<div class="ovVersion">
			<span>{{ version }}</span>
		</div>-->
	</mat-toolbar>
	<div class="container">
		<div class="ovInfo">
			<!--<img class="ovLogo" alt="OpenVidu Logo" src="assets/images/openvidu_vert_white_bg_trans_cropped.png" />-->
			<h1>Video Conferencias</h1>
			<h3>Sin logueo, datos encriptados y en nuestra red</h3>
		</div>
		<div class="formContainer">
			<div class="roomError" id="requiredNameError" *ngIf="roomForm.hasError('required')">
				Falta el nombre de la sala
			</div>
			<div class="roomError" id="shortNameError" *ngIf="roomForm.hasError('minlength')">
				El nombre de la sala debe tener mas de 3 letras
			</div>
			<form [formGroup]="roomForm" novalidate (ngSubmit)="goToVideoCall()">
				<div class="joinForm">
					<input matInput placeholder="reuniongg" class="inputForm" type="text" [formControl]="roomForm"  autocomplete="off" id="roomInput" />
					<button type="submit" class="joinButton" id="joinButton" >INGRESAR</button>
				</div>
			</form>
		</div>
	</div>


	<mat-toolbar class="footer">
		<span>
			Versión {{ version }}
		</span
		>
	</mat-toolbar>
</div>
